* {
	box-sizing: border-box;
}

html {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #000000;
	margin: 0;
	padding: 1em;
}

/**
 * Styling of the consent banner
 */

.fishcakes-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	background-color: #eeeeee;
	border-top: 1px solid #dddddd;

	&.is-active {
		display: block;
	}

	&.is-hidden {
		display: none;
	}
}

.fishcakes-banner__contain {
	display: flex;
	flex-direction: column;
	// flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	padding: 1em 2em;
}

@media (min-width: 600px) {
	.fishcakes-banner__contain {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.fishcakes-banner__text {
	margin-right: 2em;
}

.fishcakes-button {
	display: inline-block;
	padding: 1em 1.5em;
	border: none;
	background-color: #333333;
	color: #ffffff;

	&:hover {
		cursor: pointer;
	}
}

.fishcakes-banner__options {
	display: none;

	&.is-active {
		display: block;
	}
}

.fishcakes-options {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 100%;
	// width: 100%;
	margin-top: -3em;
	padding: 1em;
	background-color: #eeeeee;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.fishcakes-options__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.fishcakes-options__item {
	margin-bottom: 1em;
}

@media (min-width: 600px) {
	.fishcakes-options__list {
		flex-direction: row;
	}

	.fishcakes-options__item {
		display: block;
		width: 25%;
		max-width: 25%;
		margin-right: 2em;
		margin-bottom: 0;
	}
}

.fishcakes-options__button {
	height: auto;
	margin-right: 0;
	margin-left: auto;
}

.fishcakes-options__moreinfo {
	display: none;

	&.is-active {
		display: block;
		width: 100%;
	}
}
